<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Canvas</title>
</head>
<body>

  <div id="goUp" class="go-up">
    <i class="icon-arrow-up"></i>
  </div>

  <div id="page">
    <header id="header" class="header">
      <div class="header-container">
        <div class="header-row">
          <div id="headerContent" class="header-content">
            <div class="logo">
              <a href="#" class="header-logo">
                <img id="logoImage" src="/images/logo/logo-dark.png" alt="">
              </a>
            </div>

            <nav class="nav">
              <ul class="nav-menu">
                <li class="nav-item">
                  <a href="" class="nav-link">
                    Home
                  </a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">
                    Features
                  </a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">
                    Pages
                  </a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">
                    Portfolio
                  </a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">
                    Blog
                  </a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">
                    Show
                  </a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">
                    Shortcodes
                  </a>
                </li>
              </ul>
            </nav>

            <div class="header-icons">
              <div id="iconSearch" class="icon-search">
                <a class="search-link">
                  <i class="icon-magnifier"></i>
                </a>
              </div>

              <div class="icon-cart">
                <a class="cart-link">
                  <i class="icon-bag"></i>
                  <span class="cart-number">
                    5
                  </span>
                </a>
              </div>

            </div>
          </div>

          

          <form id="searchForm" class="search-form">
            <input type="text" class="search-input" placeholder="Type & Hit Enter..">
          </form>

          <div id="iconCross" class="icon-cross">
            <a class="cross-link">
              <i class="icon-close"></i>
            </a>
          </div>

        </div>
      </div>
    </header>
    <section id="slider" class="rellax slider" data-rellax-speed="-7">
      <div class="slider-inner">
        <div class="swiper-container">
          <div  class="swiper-wrapper ">

            <div  class="swiper-slide ">
              <div class=" swiper-slide-bg swiper-slide-bg--1"></div>
              <div class="container">
                <div class="slider-caption slider-caption-center">
                  <h2 class="slider-title">Welcome to canvas</h2>
                  
                  <p class="slider-desc">Create just what you need for your Perfect Website. Choose from a wide range of Elements & simply put them on your own Canvas.</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="container">
                <div class="slider-caption slider-caption-center">
                  <h2 class="slider-title" >Beautifully Flexible</h2>
                  
                  <p class="slider-desc">Looks beautiful & ultra-sharp on Retina Screen Displays. Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
                </div>
              </div>
              <div class="video-wrapper">
                <video class="slide-video" id="slide-video" poster="/images/videos/deskwork.jpg" preload="auto" loop autoplay muted>
                  <source src="/images/videos/deskwork.webm" type="video/webm">
                  <source src="/images/videos/deskwork.mp4" type="video/mp4">
                </video>
                <div class="video-overlay"></div>
              
              </div>
            </div>

            <div class="swiper-slide">
              <div class="container">
                <div class="swiper-slide-bg swiper-slide-bg--3"></div>
                <div class="slider-caption">
                  <h2 class="slider-title">Great Performance</h2>
                  
                  <p class="slider-desc">You'll be surprised to see the Final Results of your Creation & would crave for more.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-arrow-left"><i class="icon-arrow-left"></i></div>
          <div class="slider-arrow-right"><i class="icon-arrow-right"></i></div>
        </div>
        <a href="#" data-scrollto="#content" class="page-arrow animate__infinite animate__animated animate__fadeInDown">
          <i class="icon-arrow-down"></i></a>
      </div>
    </section>

    <section id="content" class="content" >
      <div class="content-wrapper">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-md-5">
              <div class="content-heading">
                <h1 class="content-title">Welcome to Canvas. <br> MultiPurpose Template.</h1>
              </div>
              <div class="content-desc">
                <p class="content-text">Create a website that you are gonna be proud of. Be it Business, Portfolio, Agency, Photography, eCommerce & much more.</p>
              </div>
            </div>
            <div class="col-12 col-md-7 align-self-end">
              <div class="content-images">
                <img data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-easing="linear"
                data-aos-mirror="true"
                data-aos-once="false"
                data-aos-anchor-placement="top-center" class="content-browser" src="/images/services/main-fbrowser.png" alt="">
                <img data-aos="fade-up"
                data-aos-delay="700"
                data-aos-duration="1000"
                data-aos-easing="linear"
                data-aos-mirror="true"
                data-aos-once="false"
                data-aos-anchor-placement="top-center" class="content-iphone" src="/images/services/main-fmobile.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features">
      <div class="container">
        <div class="row mt-4 col-mb-50">
          <div class="col-12 col-md-4">
            <i class="icon-green icon-screen-desktop"></i>
            <div class="features-heading">
              <span class="features-subheader">Scalable on Devices.</span>
              <h4 class="features-header">Responsive & Retina</h4>
            </div>
            <p class="features-text">Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.
            </p>
          </div>
          <div class="col-12 col-md-4">
            <i class="icon-green icon-energy"></i>
            <div class="features-heading">
              <span class="features-subheader">Smartly Coded & Maintained.</span>
              <h4 class="features-header">POWERFUL PERFORMANCE</h4>
            </div>
            <p class="features-text">Medecins du Monde Jane Addams reduce child mortality challenges Ford Foundation. Diversification shifting landscape advocate pathway to a better life rights international. Assessment.
            </p>
          </div>
          <div class="col-12 col-md-4">
            <i class="icon-green icon-equalizer"></i>
            <div class="features-heading">
              <span class="features-subheader">Flexible & Customizable.</span>
              <h4 class="features-header">TRULY MULTI-PURPOSE</h4>
            </div>
            <p class="features-text">Democracy inspire breakthroughs, Rosa Parks; inspiration raise awareness natural resources. Governance impact; transformative donation philanthropy, respect reproductive.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="features-extra">
      <div class="container">
        <div class="features-extra-heading">
          <h2 class="features-extra-header">
            EVEN MORE FEATURE RICH
          </h2>
          <span class="features-extra-subheader">
            Philanthropy convener livelihoods, initiative end hunger gender rights local. John Lennon storytelling; advocate, altruism impact catalyst.
          </span>
        </div>
        <div class="row col-mb-50 mb-4">
          <div class="col-lg-4 col-md-6">
            <div class="feature-extra-container d-flex text-md-right flex-md-row-reverse" 
              data-aos="fade-in"
              data-aos-duration="1000"
              data-aos-delay="300"
              data-aos-easing="linear"
              data-aos-mirror="true"
              data-aos-once="true"
              data-aos-anchor-placement="top-bottom">
              <div class="feature-extra-icon">
                <a class="feature-extra-icon-link" href="#">
                  <i class="icon-heart"></i>
                </a>
              </div>
              <div class="feature-extra-content">
                <h3 class="feature-extra-title">Boxed & Wide Layouts</h3>
                <p class="feature-extra-subtitle">Stretch your Website to the Full Width or make it boxed to surprise your visitors.</p>
              </div>
            </div>
            <div class="feature-extra-container mt-5 d-flex text-md-right flex-md-row-reverse"
              data-aos="fade-in"
              data-aos-duration="1000"
              data-aos-delay="300"
              data-aos-easing="linear"
              data-aos-mirror="true"
              data-aos-once="true"
              data-aos-anchor-placement="top-bottom">
              <div class="feature-extra-icon">
                <a class="feature-extra-icon-link" href="#">
                  <i class="icon-doc"></i>
                </a>
              </div>
              <div class="feature-extra-content">
                <h3 class="feature-extra-title">EXTENSIVE DOCUMENTATION</h3>
                <p class="feature-extra-subtitle">We have covered each & everything in our Docs including Videos & Screenshots.</p>
              </div>
            </div>
            <div class="feature-extra-container mt-5 d-flex text-md-right flex-md-row-reverse"
              data-aos="fade-in"
              data-aos-duration="1000"
              data-aos-delay="300"
              data-aos-easing="linear"
              data-aos-mirror="true"
              data-aos-once="true"
              data-aos-anchor-placement="top-bottom">
              <div class="feature-extra-icon">
                <a class="feature-extra-icon-link" href="#">
                  <i class="icon-layers"></i>
                </a>
              </div>
              <div class="feature-extra-content">
                <h3 class="feature-extra-title">PARALLAX SUPPORT</h3>
                <p class="feature-extra-subtitle">Display your Content attractively using Parallax Sections with HTML5 Videos.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-none text-center">
            <img class="mx-auto d-block" src="/images/services/iphone7.png" alt="">
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="feature-extra-container d-flex"
              data-aos="fade-in"
              data-aos-duration="1000"
              data-aos-delay="300"
              data-aos-easing="linear"
              data-aos-mirror="true"
              data-aos-once="true"
              data-aos-anchor-placement="top-bottom">
              <div class="feature-extra-icon">
                <a class="feature-extra-icon-link" href="#">
                  <i class="icon-power"></i>
                </a>
              </div>
              <div class="feature-extra-content">
                <h3 class="feature-extra-title">HTML5 VIDEO</h3>
                <p class="feature-extra-subtitle">Canvas provides support for Native HTML5 Videos that can be added to a Background.</p>
              </div>
            </div>
            <div class="feature-extra-container mt-5 d-flex"
              data-aos="fade-in"
              data-aos-duration="1000"
              data-aos-delay="300"
              data-aos-easing="linear"
              data-aos-mirror="true"
              data-aos-once="true"
              data-aos-anchor-placement="top-bottom"
              >
              <div class="feature-extra-icon">
                <a class="feature-extra-icon-link" href="#">
                  <i class="icon-check"></i>
                </a>
              </div>
              <div class="feature-extra-content">
                <h3 class="feature-extra-title">ENDLESS POSSIBILITIES</h3>
                <p class="feature-extra-subtitle">Complete control on each & every element that provides endless customization.</p>
              </div>
            </div>
            <div class="feature-extra-container mt-5 d-flex"
              data-aos="fade-in"
              data-aos-delay="300"
              data-aos-duration="1000"
              data-aos-easing="linear"
              data-aos-mirror="true"
              data-aos-once="true"
              data-aos-anchor-placement="top-bottom"
             >
              <div class="feature-extra-icon">
                <a class="feature-extra-icon-link" href="#">
                  <i class="icon-bulb"></i>
                </a>
              </div>
              <div class="feature-extra-content">
                <h3 class="feature-extra-title">LIGHT & DARK COLOR SCHEMES</h3>
                <p class="feature-extra-subtitle">Change your Website's Primary Scheme instantly by simply adding the dark class.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="statistics">
      <div class="row mr-0">
        <div class="col-lg-6 p-0">
          <img src="/images/services/main-bg.jpg" class="statistics-image">
        </div>
        <div class="col-lg-6">
          <div class="video-container">
            <div class="video-heading">
              <span class="video-supheader">Easily Understandable & Customizable.</span>
              <h3 class="video-header">Walkthrough Videos & Demos</h3>
            </div>
            <div class="video-content">
                <a class="d-block position-relative" href="https://vimeo.com/101373765" data-lightbox="iframe">
                  <img src="/images/services/video.jpg" alt="Video">
                  <span class="video-play-icon"><i class="icon-control-play"></i></span>
                </a>
            </div>
            <p class="video-text">
              Democracy inspire breakthroughs, Rosa Parks; inspiration raise awareness natural resources. Governance impact; transformative donation philanthropy, respect reproductive.
            </p>
          </div>
        </div>
      </div>
      <div id="statisticsTrigger" class="row mr-0">
        <div class="col-lg-3 col-md-6 statistics-feature statistics-feature--1">
          <i class="icon-directions"></i>
          <div class="statistics-counter">
            <span class="count" data-count="846">846</span>K
          </div>
          <h5 class="statistics-desc">
            Lines of Codes
          </h5>
        </div>
        <div class="col-lg-3 col-md-6 statistics-feature statistics-feature--2">
          <i class="icon-graph"></i>
          <div class="statistics-counter">
            <span class="count" data-count="21500">21500</span>
          </div>
          <h5 class="statistics-desc">
            KBS OF HTML FILES
          </h5>
        </div>
        <div class="col-lg-3 col-md-6 statistics-feature statistics-feature--3">
          <i class="icon-layers"></i>
          <div class="statistics-counter">
            <span class="count" data-count="408">408</span>
          </div>
          <h5 class="statistics-desc">
            NO. OF TEMPLATES
          </h5>
        </div>
        <div class="col-lg-3 col-md-6 statistics-feature statistics-feature--4">
          <i class="icon-clock"></i>
          <div class="statistics-counter">
            <span class="count" data-count="1400">1400</span>
          </div>
          <h5 class="statistics-desc">
            HOURS OF CODING
          </h5>
        </div>
      </div>
    </section>

    <section class="features-full">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-4">
            <div class="features-full-container" 
              data-aos="fade-in"
              data-aos-duration="1000"
              data-aos-easing="linear"
              data-aos-mirror="true"
              data-aos-once="true"
              data-aos-anchor-placement="top-center">
              <div class="features-full-icon">
                <a href="#" class="features-full-link">
                  <i class="icon-screen-desktop"></i>
                </a>
              </div>
              <div class="features-full-content">
                <h3 class="features-full-title">RESPONSIVE LAYOUT</h3>
                <p class="features-full-text">Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="features-full-container"
              data-aos="fade-in"
              data-aos-duration="1000"
              data-aos-easing="linear"
              data-aos-mirror="true"
              data-aos-once="true"
              data-aos-anchor-placement="top-center">
              <div class="features-full-icon">
                <a href="#" class="features-full-link">
                  <i class="icon-control-play"></i>
                </a>
              </div>
              <div class="features-full-content">
                <h3 class="features-full-title">HTML5 VIDEO</h3>
                <p class="features-full-text">Canvas provides support for Native HTML5 Videos that can be added to a Full Width Background.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="features-full-container"
              data-aos="fade-in"
              data-aos-duration="1000"
              data-aos-easing="linear"
              data-aos-mirror="true"
              data-aos-once="true"
              data-aos-anchor-placement="top-center">
              <div class="features-full-icon">
                <a href="#" class="features-full-link">
                  <i class="icon-bulb"></i>
                </a>
              </div>
              <div class="features-full-content">
                <h3 class="features-full-title">LIGHT & DARK COLOR SCHEMES</h3>
                <p class="features-full-text">Change your Website's Primary Scheme instantly by simply adding the dark class to the body.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="features-full-container"
              data-aos="fade-in"
              data-aos-duration="1000"
              data-aos-easing="linear"
              data-aos-mirror="true"
              data-aos-once="true"
              data-aos-anchor-placement="top-center">
              <div class="features-full-icon">
                <a href="#" class="features-full-link">
                  <i class="icon-eye"></i>
                </a>
              </div>
              <div class="features-full-content">
                <h3 class="features-full-title">RETINA READY GRAPHICS</h3>
                <p class="features-full-text">Looks beautiful & ultra-sharp on Retina Displays with Retina Icons, Fonts & Images.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="features-full-container"
              data-aos="fade-in"
              data-aos-duration="1000"
              data-aos-easing="linear"
              data-aos-mirror="true"
              data-aos-once="true"
              data-aos-anchor-placement="top-center">
              <div class="features-full-icon">
                <a href="#" class="features-full-link">
                  <i class="icon-equalizer"></i>
                </a>
              </div>
              <div class="features-full-content">
                <h3 class="features-full-title">PARALLAX SUPPORT</h3>
                <p class="features-full-text">Display your Content attractively using Parallax Sections that have unlimited customizable areas.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="features-full-container"
              data-aos="fade-in"
              data-aos-duration="1000"
              data-aos-easing="linear"
              data-aos-mirror="true"
              data-aos-once="true"
              data-aos-anchor-placement="top-center">
              <div class="features-full-icon">
                <a href="#" class="features-full-link">
                  <i class="icon-heart"></i>
                </a>
              </div>
              <div class="features-full-content">
                <h3 class="features-full-title">BOXED & WIDE LAYOUTS</h3>
                <p class="features-full-text">Stretch your Website to the Full Width or make it boxed to surprise your visitors.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="features-full-container"
              data-aos="fade-in"
              data-aos-duration="1000"
              data-aos-easing="linear"
              data-aos-mirror="true"
              data-aos-once="true"
              data-aos-anchor-placement="top-center">
              <div class="features-full-icon">
                <a href="#" class="features-full-link">
                  <i class="icon-star"></i>
                </a>
              </div>
              <div class="features-full-content">
                <h3 class="features-full-title">POWERFUL PERFORMANCE</h3>
                <p class="features-full-text">Optimized code that are completely customizable and deliver unmatched fast performance.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="features-full-container"
              data-aos="fade-in"
              data-aos-duration="1000"
              data-aos-easing="linear"
              data-aos-mirror="true"
              data-aos-once="true"
              data-aos-anchor-placement="top-center">
              <div class="features-full-icon">
                <a href="#" class="features-full-link">
                  <i class="icon-check"></i>
                </a>
              </div>
              <div class="features-full-content">
                <h3 class="features-full-title">ENDLESS POSSIBILITIES</h3>
                <p class="features-full-text">Complete control on each & every element that provides endless customization possibilities.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="features-full-container"
              data-aos="fade-in"
              data-aos-duration="1000"
              data-aos-easing="linear"
              data-aos-mirror="true"
              data-aos-once="true"
              data-aos-anchor-placement="top-center">
              <div class="features-full-icon">
                <a href="#" class="features-full-link">
                  <i class="icon-note"></i>
                </a>
              </div>
              <div class="features-full-content">
                <h3 class="features-full-title">EXTENSIVE DOCUMENTATION</h3>
                <p class="features-full-text">We have covered each & everything in our Documentation including Videos & Screenshots.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="works">
      <div class="container">
        <div class="works-heading">
          <h3 class="works-header">OUR LATEST WORKS</h3>
        </div>
      </div>

      <div class="row mx-0">
        <article class="col-6 col-md-4 col-lg-3 p-0 position-relative overflow-hidden">
          <div class="works-image">
            <a href="#" class="works-image-link">
              <img src="/images/portfolio/1.jpg" alt="">
            </a>
            <div class="bg-overlay">
              <div class="bg-overlay-content">
                <a href="images/portfolio/full/2.jpg" class="overlay-icon mr-4">
                  <i class="icon-plus"></i>
                </a>
                <a href="portfolio-single.html" class="overlay-icon">
                  <i class="icon-options"></i>
                </a>
              </div>
            </div>
            <div class="works-overlay">
              <h3 class="works-title">
                <a href="#">Open Imagination</a>
              </h3>
              <span>
                <a href="#">Media</a>, 
                <a href="#">Icons</a>
              </span>
            </div>
          </div>
        </article>
        <article class="col-6 col-md-4 col-lg-3 p-0 position-relative overflow-hidden">
          <div class="works-image">
            <a href="#" class="works-image-link">
              <img src="/images/portfolio/2.jpg" alt="">
            </a>
            <div class="bg-overlay">
              <div class="bg-overlay-content">
                <a href="images/portfolio/full/2.jpg" class="overlay-icon mr-4">
                  <i class="icon-plus"></i>
                </a>
                <a href="portfolio-single.html" class="overlay-icon">
                  <i class="icon-options"></i>
                </a>
              </div>
            </div>
            <div class="works-overlay">
              <h3 class="works-title">
                <a href="#">Locked Steel Gate</a>
              </h3>
              <span>
                <a href="#">Illustrations</a>
              </span>
            </div>
          </div>
        </article>
        <article class="col-6 col-md-4 col-lg-3 p-0 position-relative overflow-hidden">
          <div class="works-image">
            <a href="#" class="works-image-link">
              <img src="/images/portfolio/3.jpg" alt="">
            </a>
            <div class="bg-overlay">
              <div class="bg-overlay-content">
                <a href="images/portfolio/full/2.jpg" class="overlay-icon play mr-4">
                  <i class="icon-control-play"></i>
                </a>
                <a href="portfolio-single.html" class="overlay-icon">
                  <i class="icon-options"></i>
                </a>
              </div>
            </div>
            <div class="works-overlay">
              <h3 class="works-title">
                <a href="#">Mac Sunglasses</a>
              </h3>
              <span>
                <a href="#">Graphics</a>, 
                <a href="#">UI Elements</a>
              </span>
            </div>
          </div>
        </article>
        <article class="col-6 col-md-4 col-lg-3 p-0 position-relative overflow-hidden">
          <div class="works-image">
            <a href="#" class="works-image-link">
              <img src="/images/portfolio/4.jpg" alt="">
            </a>
            <div class="bg-overlay">
              <div class="bg-overlay-content">
                <a href="images/portfolio/full/2.jpg" class="overlay-icon mr-4">
                  <i class="icon-docs"></i>
                </a>
                <a href="portfolio-single.html" class="overlay-icon">
                  <i class="icon-options"></i>
                </a>
              </div>
            </div>
            <div class="works-overlay">
              <h3 class="works-title">
                <a href="#">Morning Dew</a>
              </h3>
              <span>
                <a href="#">Icons</a>, 
                <a href="#">Illustrations</a>
              </span>
            </div>
          </div>
        </article>
        <article class="col-6 col-md-4 col-lg-3 p-0 position-relative overflow-hidden">
          <div class="works-image">
            <a href="#" class="works-image-link">
              <img src="/images/portfolio/5.jpg" alt="">
            </a>
            <div class="bg-overlay">
              <div class="bg-overlay-content">
                <a href="images/portfolio/full/2.jpg" class="overlay-icon mr-4">
                  <i class="icon-plus"></i>
                </a>
                <a href="portfolio-single.html" class="overlay-icon">
                  <i class="icon-options"></i>
                </a>
              </div>
            </div>
            <div class="works-overlay">
              <h3 class="works-title">
                <a href="#">UI Elements</a>,
                <a href="#">Media</a>
              </h3>
              <span>
                <a href="#">Illustrations</a>
              </span>
            </div>
          </div>
        </article>
        <article class="col-6 col-md-4 col-lg-3 p-0 position-relative overflow-hidden">
          <div class="works-image">
            <a href="#" class="works-image-link">
              <img src="/images/portfolio/6.jpg" alt="">
            </a>
            <div class="bg-overlay">
              <div class="bg-overlay-content">
                <a href="images/portfolio/full/2.jpg" class="overlay-icon mr-4">
                  <i class="icon-docs"></i>
                </a>
                <a href="portfolio-single.html" class="overlay-icon">
                  <i class="icon-options"></i>
                </a>
              </div>
            </div>
            <div class="works-overlay">
              <h3 class="works-title">
                <a href="#">Shake It!</a>
              </h3>
              <span>
                <a href="#">Illustrations</a>, 
                <a href="#">Graphics</a>
              </span>
            </div>
          </div>
        </article>
        <article class="col-6 col-md-4 col-lg-3 p-0 position-relative overflow-hidden">
          <div class="works-image">
            <a href="#" class="works-image-link">
              <img src="/images/portfolio/7.jpg" alt="">
            </a>
            <div class="bg-overlay">
              <div class="bg-overlay-content">
                <a href="images/portfolio/full/2.jpg" class="play overlay-icon mr-4">
                  <i class="icon-control-play"></i>
                </a>
                <a href="portfolio-single.html" class="overlay-icon">
                  <i class="icon-options"></i>
                </a>
              </div>
            </div>
            <div class="works-overlay">
              <h3 class="works-title">
                <a href="#">Backpack Contents</a>
              </h3>
              <span>
                <a href="#">UI Elements</a>, 
                <a href="#">Icons</a>
              </span>
            </div>
          </div>
        </article>
        <article class="col-6 col-md-4 col-lg-3 p-0 position-relative overflow-hidden">
          <div class="works-image">
            <a href="#" class="works-image-link">
              <img src="/images/portfolio/8.jpg" alt="">
            </a>
            <div class="bg-overlay">
              <div class="bg-overlay-content">
                <a href="images/portfolio/full/2.jpg" class="overlay-icon mr-4">
                  <i class="icon-plus"></i>
                </a>
                <a href="portfolio-single.html" class="overlay-icon">
                  <i class="icon-options"></i>
                </a>
              </div>
            </div>
            <div class="works-overlay">
              <h3 class="works-title">
                <a href="#">Sunset Bulb Glow</a>
              </h3>
              <span>
                <a href="#">Graphics</a>
              </span>
            </div>
          </div>
        </article>
      </div>

    </section>

    <section class="cta">
      <a href="#" class="cta-link">
        More than 100+ predefined Portfolio Grid Layouts. <strong>See More</strong> <i class="icon-arrow-right"></i>
      </a>
    </section>

    <section class="devices">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 center">
            <img data-aos="fade-down-right" data-aos-duration="1000" src="/images/services/iphone6.png" alt="">
          </div>
          <div class="col-md-8 text-md-left">
            <div class="devices-heading">
              <h3 class="devices-header">OPTIMIZED FOR MOBILE & TOUCH ENABLED DEVICES.</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam.</p>
            <a href="#" class="devices-btn mt-4">Learn more</a>
          </div>
        </div>
      </div>
    </section>

    <section class="reviews">
      <div class="reviews-heading">
        <div class="reviews-header">WHAT CLIENTS SAY?</div>
      </div>

      <div class="flexslider text-center">
        <ul class="slides">
          <li>
            <div class="reviews-slider-image-container">
              <a href="#" class="reviews-slider-image-link">
                <img class="reviews-slider-image" src="/images/testimonials/1.jpg" alt="">
              </a>
            </div>
            <div class="reviews-slider-content-container">
              <p class="reviews-slider-content-text">
                Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?
              </p>
              <div class="reviews-slider-content-meta">
                Steve Jobs
                <span>Apple Inc.</span>
              </div>
            </div>
          </li>
          <li>
            <div class="reviews-slider-image-container">
              <a href="#" class="reviews-slider-image-link">
                <img class="reviews-slider-image" src="/images/testimonials/2.jpg" alt="">
              </a>
            </div>
            <div class="reviews-slider-content-container">
              <p class="reviews-slider-content-text">
                Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.
              </p>
              <div class="reviews-slider-content-meta">
                COLLIS TA'EED
                <span>Envato Inc.</span>
              </div>
            </div>
          </li>
          <li>
            <div class="reviews-slider-image-container">
              <a href="#" class="reviews-slider-image-link">
                <img class="reviews-slider-image" src="/images/testimonials/3.jpg" alt="">
              </a>
            </div>
            <div class="reviews-slider-content-container">
              <p class="reviews-slider-content-text">
                Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!
              </p>
              <div class="reviews-slider-content-meta">
                JOHN DOE
                <span>XYZ Inc.</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="heading">
      <div class="container">
        <h3 class="heading-header">LATEST FROM THE BLOG</h3>
      </div>
    </section>

    <section class="blog">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="blog-card">
              <div class="blog-image">
                <a href="#" class="blog-link">
                  <img src="/images/magazine/1.jpg" alt="">
                </a>
              </div>
              <a href="#" class="blog-title-link"><h3 class="blog-title">Bloomberg smart cities; change-makers economic security</h3></a>
              <div class="blog-meta">
                <ul>
                  <li><i class="icon-calendar"></i> 13th Jun 2021</li>
                  <li><i class="icon-bubbles"></i> 53</li>
                </ul>
              </div>
              <div class="blog-content">
                <p>Prevention effect, advocate dialogue rural development lifting people up community civil society. Catalyst, grantees leverage.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="blog-card">
              <div class="blog-image">
                <a href="#" class="blog-link">
                  <img src="/images/magazine/2.jpg" alt="">
                </a>
              </div>
              <a href="#" class="blog-title-link"><h3 class="blog-title">Medicine new approaches communities, outcomes partnership</h3></a>
              <div class="blog-meta">
                <ul>
                  <li><i class="icon-calendar"></i> 24th Feb 2021</li>
                  <li><i class="icon-bubbles"></i> 17</li>
                </ul>
              </div>
              <div class="blog-content">
                <p>Cross-agency coordination clean water rural, promising development turmoil inclusive education transformative community.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="blog-card">
              <div class="blog-image">
                <a href="#" class="blog-link">
                  <img src="/images/magazine/3.jpg" alt="">
                </a>
              </div>
              <a href="#" class="blog-title-link"><h3 class="blog-title">Significant altruism planned giving insurmountable challenges liberal</h3></a>
              <div class="blog-meta">
                <ul>
                  <li><i class="icon-calendar"></i> 30th Dec 2021</li>
                  <li><i class="icon-bubbles"></i> 13</li>
                </ul>
              </div>
              <div class="blog-content">
                <p>Micro-finance; vaccines peaceful contribution citizens of change generosity. Measures design thinking accelerate progress medical initiative.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="blog-card">
              <div class="blog-image">
                <a href="#" class="blog-link">
                  <img src="/images/magazine/4.jpg" alt="">
                </a>
              </div>
              <a href="#" class="blog-title-link"><h3 class="blog-title">Compassion conflict resolution, progressive; tackle</h3></a>
              <div class="blog-meta">
                <ul>
                  <li><i class="icon-calendar"></i> 15th Jan 2021</li>
                  <li><i class="icon-bubbles"></i> 54</li>
                </ul>
              </div>
              <div class="blog-content">
                <p>Community health workers best practices, effectiveness meaningful work The Elders fairness. Our ambitions local solutions globalization.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="team">
      <div class="container">
        <div class="team-heading">
          <div class="team-header">MEET OUR TEAM</div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="team-item">
              <div class="team-image">
                <img src="/images/team/3.jpg" alt="">
              </div>
              <div class="team-desc">
                <div class="team-title">
                  <h4>JOHN DOE</h4>
                  <span>CEO</span>
                  <a href="#" class="team-social-icon">
                    <i class="icon-social-facebook"></i>
                  </a>
                  <a href="#" class="team-social-icon">
                    <i class="icon-social-twitter"></i>
                  </a>
                  <a href="#" class="team-social-icon">
                    <i class="icon-social-google"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-item">
              <div class="team-image">
                <img src="/images/team/2.jpg" alt="">
              </div>
              <div class="team-desc">
                <div class="team-title">
                  <h4>JOSH CLARK</h4>
                  <span>Co-Founder</span>
                  <a href="#" class="team-social-icon">
                    <i class="icon-social-facebook"></i>
                  </a>
                  <a href="#" class="team-social-icon">
                    <i class="icon-social-twitter"></i>
                  </a>
                  <a href="#" class="team-social-icon">
                    <i class="icon-social-google"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-item">
              <div class="team-image">
                <img src="/images/team/8.jpg" alt="">
              </div>
              <div class="team-desc">
                <div class="team-title">
                  <h4>MARY JANE</h4>
                  <span>Sales</span>
                  <a href="#" class="team-social-icon">
                    <i class="icon-social-facebook"></i>
                  </a>
                  <a href="#" class="team-social-icon">
                    <i class="icon-social-twitter"></i>
                  </a>
                  <a href="#" class="team-social-icon">
                    <i class="icon-social-google"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-item">
              <div class="team-image">
                <img src="/images/team/4.jpg" alt="">
              </div>
              <div class="team-desc">
                <div class="team-title">
                  <h4>NIX MAXWELL</h4>
                  <span>Support</span>
                  <a href="#" class="team-social-icon">
                    <i class="icon-social-facebook"></i>
                  </a>
                  <a href="#" class="team-social-icon">
                    <i class="icon-social-twitter"></i>
                  </a>
                  <a href="#" class="team-social-icon">
                    <i class="icon-social-google"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="clients">
      <div class="my-slider">
        <div>
          <a class="clients-link" href="#">
            <img class="clients-logo" src="/images/clients/1.png" alt="">
          </a>
        </div>
        <div>
          <a class="clients-link" href="#">
            <img class="clients-logo" src="/images/clients/2.png" alt="">
          </a>
        </div>
        <div>
          <a class="clients-link" href="#">
            <img class="clients-logo" src="/images/clients/3.png" alt="">
          </a>
        </div>
        <div>
          <a class="clients-link" href="#">
            <img class="clients-logo" src="/images/clients/4.png" alt="">
          </a>
        </div>
        <div>
          <a class="clients-link" href="#">
            <img class="clients-logo" src="/images/clients/5.png" alt="">
          </a>
        </div>
        <div>
          <a class="clients-link" href="#">
            <img class="clients-logo" src="/images/clients/6.png" alt="">
          </a>
        </div>
        <div>
          <a class="clients-link" href="#">
            <img class="clients-logo" src="/images/clients/7.png" alt="">
          </a>
        </div>
        <div>
          <a class="clients-link" href="#">
            <img class="clients-logo" src="/images/clients/8.png" alt="">
          </a>
        </div>
        <div>
          <a class="clients-link" href="#">
            <img class="clients-logo" src="/images/clients/9.png" alt="">
          </a>
        </div>
        <div>
          <a class="clients-link" href="#">
            <img class="clients-logo" src="/images/clients/10.png" alt="">
          </a>
        </div>
      </div>
    </div>

    <footer id="footerTrigger" class="footer">
      <div class="container">
        <div class="footer-wrapper">
          <div class="row col-mb-50">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-md-4">
                  <img class="footer-logo" src="/images/logo/footer-widget-logo.png" alt="">
                  <p class="footer-text">We believe in Simple, Creative & Flexible Design Standards.</p>
                  <div class="footer-contacts">
                    <address>
                      <strong>Headquarters:</strong><br>
                      795 Folsom Ave, Suite 600 <br>
                      San Francisco, CA 94107 <br>
                    </address>
                    <abbr title="Phone Number">
                      <strong>Phone:</strong>
                    </abbr>
                    (1) 8547 632521 <br>
                    <abbr title="Fax">
                      <strong>Fax:</strong>
                    </abbr>
                    (1) 11 4752 1433 <br>
                    <abbr title="Email Address">
                      <strong>Email:</strong>
                    </abbr>
                    info@canvas.com <br>
                  </div>
                </div>
                <div class="col-md-4">
                  <h4 class="footer-title">BLOGROLL</h4>
                  <ul>
                    <li><a href="#" class="footer-link">Documentation</a></li>
                    <li><a href="#" class="footer-link">Feedback</a></li>
                    <li><a href="#" class="footer-link">Plugins</a></li>
                    <li><a href="#" class="footer-link">Support Forums</a></li>
                    <li><a href="#" class="footer-link">Themes</a></li>
                    <li><a href="#" class="footer-link">Canvas Blog</a></li>
                    <li><a href="#" class="footer-link">Canvas Planet</a></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h4 class="footer-title">RECENT POSTS</h4>
                  <div class="footer-posts">
                    <div class="col-12 px-0">
                      <div class="row">
                        <div class="col mb-4">
                          <a href="#" class="footer-posts-link">
                            <h4 class="footer-posts-title">Lorem ipsum dolor sit amet, consectetur</h4>
                          </a>
                          <span class="footer-posts-date">10th July 2021</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 px-0">
                      <div class="row">
                        <div class="col mb-4">
                          <a href="#" class="footer-posts-link">
                            <h4 class="footer-posts-title">Elit Assumenda vel amet dolorum quasi</h4>
                          </a>
                          <span class="footer-posts-date">10th July 2021</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 px-0">
                      <div class="row">
                        <div class="col mb-4">
                          <a href="#" class="footer-posts-link">
                            <h4 class="footer-posts-title">Debitis nihil placeat, illum est nisi</h4>
                          </a>
                          <span class="footer-posts-date">10th July 2021</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row">
                <div class="col-md-4 col-lg-12">
                  <div class="row">
                    <div class="col-md-4 col-lg-12">
                      <div class="row">
                        <div class="col-lg-6 bottommargin-sm">
                          <div class="footer-counter">
                            <span class="footer_count" id="footerCounterLeft">15065421</span>
                            <h5 class="footer-counter-subtitle">Total Downloads</h5>
                          </div>
                        </div>
                        <div class="col-lg-6 bottommargin-sm">
                          <div class="footer-counter-right">
                            <span class="footer_count" id="footerCounterRight">18465</span>
                            <h5 class="footer-counter-subtitle">CLIENTS</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 col-lg-12">
                      <h5 class="footer-subscribe-text">
                        Subscribe to Our Newsletter to get Important News, Amazing Offers & Inside Scoops:
                      </h5>
                      <form action="POST">
                        <div class="input-group mx-auto">
                          <div class="input-group mx-auto">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i class="icon-paper-plane"></i>
                              </div>
                            </div>
                            <input type="email" class="form-control" placeholder="Enter your Email">
                            <div class="input-group-append">
                              <button class="btn btn-success" type="submit">Subscribe</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-3 col-lg-12 mt-5">
                      <div class="row">
                        <div class="col-6 col-md-12 col-lg-6 bottommargin-sm d-flex">
                          <a href="#" class="footer-social facebook">
                            <i class="icon-social-facebook"></i>
                          </a>
                          <div class="footer-social-text">
                            <strong>Like us</strong><br>
                            on Facebook
                          </div>
                        </div>
                        <div class="col-6 col-md-12 col-lg-6 d-flex">
                          <a href="#" class="footer-social reddit">
                            <i class="icon-social-reddit"></i>
                          </a>
                          <div class="footer-social-text">
                            <strong>Subscribe</strong><br>
                            to Reddit
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center text-md-left d-flex justify-content-between flex-column">  
              Copyrights &copy; 2020 All Rights Reserved by Canvas Inc. <br>
              <div class="copyrights-links">
                <a href="#" class="copyright-link">Terms of Use</a> / 
                <a href="#" class="copyright-link">Privacy Policy</a>
              </div>
            </div>
            <div class="col-md-6 text-center text-md-right">
              <div class="d-flex justify-content-center justify-content-md-end">
                <a href="#" class="footer-copyright-link-contacts"><i class="icon-social-facebook"></i></a>
                <a href="#" class="footer-copyright-link-contacts"><i class="icon-social-github"></i></a>
                <a href="#" class="footer-copyright-link-contacts"><i class="icon-social-twitter"></i></a>
                <a href="#" class="footer-copyright-link-contacts"><i class="icon-social-google"></i></a>
                <a href="#" class="footer-copyright-link-contacts"><i class="icon-social-pinterest"></i></a>
                <a href="#" class="footer-copyright-link-contacts"><i class="icon-social-tumblr"></i></a>
                <a href="#" class="footer-copyright-link-contacts"><i class="icon-social-instagram"></i></a>
                <a href="#" class="footer-copyright-link-contacts"><i class="icon-social-linkedin"></i></a>
              </div>
  
              <i class="icon-envelope"></i>info@canvas.com
              <span class="middot mx-2"> · </span>
              <i class="icon-earphones"></i>
              +1-11-6541-6369 
              <span class="middot mx-2"> · </span>
              <i class="icon-social-skype"></i>
              CanvasOnSkype
            </div>
          </div>
        </div>
      </div>
  
    </footer>
  </div>

</body>
</html>